/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d8e8dc;
}

h1 {
    color: #333;
}

h2 {
    color: #666;
}

p, ul {
    color: #444;
    font-size: 16px;
    line-height: 1.5;
}

strong {
    color: #000;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

#Mainpic
{
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    /* height: 100vh; adjust as needed */
}
